body{
	
	background-color:rgb(208, 236, 231);
	font-family: times new roman, sans-serif;
	font-size: 20px;
}

nav li{
    background-position: right;
    display: inline

}

--------------------------------------------------------------------------------------------------------------------

#pg2{
	background-color: #D5DBDB;
	font-family: verdana, sans-serif;
	font-size: 20px;
}

#retornar{
     background: -webkit-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
     border: 1px solid #CCCCCE;
     border-radius: 3px;
     box-shadow: 0 3px 0 rgba(0, 0, 0, .3),
                   0 2px 7px rgba(0, 0, 0, 0.2);
     color: #616165;
     display: block;
     font-family: "Trebuchet MS";
     font-size: 14px;
     font-weight: bold;
     line-height: 25px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     text-shadow:1px 1px 0 #FFF;
     padding: 5px 15px;
     position: relative;
     width: 80px;
}

form{
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 15px;
	display: block;
	border: 5px;
	margin: 5px;
}

#titulopg2{
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 30px;

}